.o_main_navbar .o_app[data-menu-xmlid="custom_paid_totals.menu_paid_totals"] .o_app_icon {
    background-image: url("/custom_paid_totals/static/description/icon.png") !important;
    background-size: contain !important;
}
